.container {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 5fr;
    height: 100vh;
}

.mainArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 30px;
    font-family: 'Grey Qo', cursive;
    font-weight: 400;
    font-style: normal;
}

.nav {
    border-right: 1px  gray solid;
    max-width: 180px;
    background-color: rgb(243, 244, 246);
}

.formArea {
    display: flex;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        border: none;
        display: none;
    }
    .hamburgerMenu {
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
    }
    .hamburgerMenu:hover {
        cursor: pointer;
    }

    .formArea {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
