.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.nav {
    display: none;
}

.hamburger-menu {
    position: fixed;
    left: 20px;
    top: 20px;
}
.hamburger-menu:hover {
    cursor: pointer;
}

/* @media (max-width: 700px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .nav {
        border: none;
        display: none;
    }
} */
