.container {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 5fr;
}

.mainArea {
    padding: 30px;
}

.nav {
    border-right: 1px gray solid;
    max-width: 180px;
    background-color: rgb(243, 244, 246);
    min-height: 100vh;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .nav {
        border: none;
        display: none;
    }
    .hamburgerMenu {
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
    }
    .hamburgerMenu:hover {
        cursor: pointer;
    }
}
