.formArea {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 180px 5fr;
  height: 100vh;
}

.mainArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title {
  font-size: 60px;
  font-style: italic;
  margin-bottom: 30px;
  font-family: 'Grey Qo', cursive;
  font-weight: 400;
  font-style: normal;
}

.nav{
  border-right: 2px black solid;
  max-width: 180px;
  background-color: rgba(14, 12, 12, 0.8);
}

.input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.levelRadio {
  display: flex;
}

.problemArea {
  margin-top: 200px;
}

.hamburgerMenu{
  display: none;
}


@media (max-width: 700px) {
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .nav {
      border: none;
      display: none;
  }
  .hamburgerMenu {
      display: block;
      position: fixed;
      left: 20px;
      top: 20px;
  }
  .hamburgerMenu:hover {
      cursor: pointer;
  }
}